body{
      font-family:Arial, Helvetica, sans-serif;   
}
div.container {
         width: 100%;
         color: #0000cc;
         }
         header {
         padding: 5px;
         text-align: center;
         background-color: #ffb84d;
         }
         header img{
         vertical-align:middle
         }
         footer{
         background-color: #ffb84d;
         bottom:0;
         }
         footer ul{
         list-style: none;
         overflow: hidden;
         }
         footer li{
         float: right;
         padding: 8px;
         border-right: 2px solid #e68a00;
         }
         nav {
         float: left;
         max-width: 160px;
         margin: 0;
         padding: 1em;
         }
         nav ul {
         list-style-type: none;
         padding: 0;
         }
         nav ul a {
         text-decoration: none;
         }
         nav li{
         padding: 16px;
         border-bottom: 2px solid #e68a00;
         }
         li.current-page{
         color: #e68a00;
         }
         li.last-item {
         border: none
         }
         article {
         margin-left: 170px;
         border-left: 1px solid gray;
         padding: 1em;
         overflow: hidden;
         min-height: 300px;
         }
         p {
         text-indent: 3em;
         color: #0000cc;
         }
         a {
         color: #0000cc;
         text-decoration: none;
         }
         a:hover {
         color: #e68a00;
         }
.empty{
 padding: 100px;        
}
